@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ql-editor {
  font-size: 3rem !important; /* Equivalent to text-6xl */
  font-weight: bold !important;
  text-align: center !important;
}

.custom-quill .ql-editor {
  font-size: 2rem !important; /* Equivalent to text-6xl */
  font-weight: bold !important;
  text-align: center !important;
}